[submodule "amd"]
	path = external/amd
	url = https://github.com/imaami/dlss5-on-amd-9070xt-porting.git
	branch = dlsslop-amd
[submodule "vulkan"]
	path = external/vulkan
	url = https://github.com/imaami/DLSSNR-AMD.git
	branch = dlsslop-amd-82560c4
